<div class="flexbox-parent">
    <mat-card>
        <mat-card-content>
            <app-block-ui [blockUI]="isProcessing">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <p class="app-name"><b>WATCHAUS</b> | Admin</p>
                    <mat-form-field>
                        <input matInput placeholder="Username" [(ngModel)]="username" name="username" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="isProcessing">Login</button>
                </form>
            </app-block-ui>
        </mat-card-content>
    </mat-card>
</div>
