<h2 mat-dialog-title>
    {{ action }}
</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required autocomplete="off" readonly="{{ isDisableUsername }}" />
        <mat-error *ngIf="formGroup.get('username')?.invalid">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required autocomplete="off" />
        <mat-error *ngIf="formGroup.get('firstName')?.invalid">First name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" autocomplete="off" />
        <mat-error *ngIf="formGroup.get('middleName')?.hasError('whitespace')">Invalid value</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required autocomplete="off" />
        <mat-error *ngIf="formGroup.get('lastName')?.invalid">Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required autocomplete="off" />
        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Invalid email address</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Phone No</mat-label>
        <input matInput formControlName="phoneNo" />
        <mat-error *ngIf="formGroup.get('phoneNo')?.hasError('whitespace')">Invalid value</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleId" required>
            <mat-option [value]="0">Select role</mat-option>
            <mat-option [value]="1">Admin</mat-option>
            <mat-option [value]="2">Operator</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('roleId')?.invalid">Role is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" [formGroup]="formGroup" [hideRequiredMarker]="userDetails.roleId != 2">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="branchId" required>
            <mat-option [value]="0">Select branch</mat-option>
            <mat-option *ngFor="let item of branchList" [value]="item.branchId">{{ item.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('branchId')?.invalid">Branch is required when role is operator</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">
        <mat-icon *ngIf="isProcessing"><mat-spinner diameter="20"> </mat-spinner></mat-icon>Save
    </button>
</mat-dialog-actions>
