<h1 class="app-name container-fluid">
    <a [routerLink]="'/home'">WATCHAUS <span class="divider">|</span> <span class="system">Admin</span></a>
</h1>

<mat-toolbar>
    <mat-toolbar-row class="container-fluid">
        <a
            mat-button
            [routerLink]="'/movie-management'"
            color="{{ route.url == '/movie-management' ? 'primary' : 'basic' }}"
        >
            Movies
        </a>
        <a
            mat-button
            [routerLink]="'/branch-management'"
            color="{{ route.url === '/branch-management' ? 'primary' : 'basic' }}"
        >
            Branches
        </a>
        <a
            mat-button
            [routerLink]="'/screen-management'"
            color="{{ route.url === '/screen-management' ? 'primary' : 'basic' }}"
        >
            Screens
        </a>
        <a
            mat-button
            [routerLink]="'/user-management'"
            color="{{ route.url === '/user-management' ? 'primary' : 'basic' }}"
        >
            Users
        </a>
        <a mat-button [routerLink]="'/reports'"> Reports </a>
        <a mat-button [routerLink]="'/settings'" color="{{ route.url === '/settings' ? 'primary' : 'basic' }}">
            Settings
        </a>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">
            Hi, {{ authService.userDetails.firstName }}
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Change Password</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
