.app-name {
    font-size: 19pt;
    padding-right: 15px;
    padding-left: 20px;
    a {
        text-decoration: none;
        color: #178b35;

        .divider {
            color: #607d8b;
            margin-left: 5px;
            margin-right: 10px;
        }

        .system {
            color: #607d8b;
            font-weight: normal;
        }
    }
}
